doctype 5
html
	head
		title= data.title
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.1/bootstrap-social.min.css')
		link(rel='stylesheet', href='#{data.websiteUrl}/stylesheets/style.css')
		if data.screen == 'product'
			meta(property='og:url', content='#{data.websiteUrl}#{data.productUrl}')
			meta(property='og:type', content='product')
			meta(property='og:title', content= data.productDetail.Name)
			meta(property='og:description', content= data.productDetail.Name)
			meta(property='og:image', content= data.productDetail.CoverImage)
	body
		input#apiUrl(type='hidden', value=data.apiUrl)
		input#apiKey(type='hidden', value=data.apiKey)
		input#shop(type='hidden', value=data.shop)
		input#memberKey(type='hidden', value=data.memberKey )
		nav.navbar.navbar-inverse.navbar-fixed-top(style="margin-bottom: 0px;")
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#{data.websiteUrl}', style="padding-top:12px")
						img(src="#{data.websiteUrl}/images/logo.png", alt="PowerDD.com")
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li(class=(data.screen == 'news' ? 'active' : ''))
							a(href='#{data.websiteUrl}/news') ข่าวสาร

						li(class=(data.screen == 'category' ? 'dropdown active' : 'dropdown'))
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
								| ประเภทสินค้า 
								span.caret
							ul.dropdown-menu(role='menu')
								each values in data.category
									li(class=(data.screen == 'category' && data.categorySelected == values.url ? 'active' : ''))
										a(href='#{data.websiteUrl}/category/'+values.url)= values.name
						li(class=(data.screen == 'about_us' ? 'active' : ''))
							a(href='#{data.websiteUrl}/how_to_order') ขั้นตอนการสั่งซื้อ
						li(class=(data.screen == 'about_us' ? 'active' : ''))
							a(href='#{data.websiteUrl}/about_us') เกี่ยวกับเรา
						li(class=(data.screen == 'dropdown contact' ? 'dropdown active' : ''))
							a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', role='button', aria-expanded='false')
								| ติดต่อสอบถาม 
								span.caret
							ul.dropdown-menu(role='menu')
								li
									a(href='javascript:void(0)')
										table
											tr
												td
													img.img-responsive(src="#{data.websiteUrl}/images/line-powerdd-white.png", width="150")
											tr
												td(align="center")
													| Line ID  
													b @PowerDD
											tr
												td.padding-top-5(align="center")
													i.fa.fa-phone-square
													|  098-9919-060


					ul.nav.navbar-nav.navbar-right
						li
							a(href='https://www.facebook.com/pages/Power-DD/407569436094769')
								i.fa.fa-facebook-square.fa-lg
						if data.memberName
							li(class=(data.screen == 'dropdown contact' ? 'dropdown active' : ''))
								a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', role='button', aria-expanded='false')
									| สวัสดีคุณ #{data.memberName}
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='javascript:void(0)')
											table
												tr
													a.button#btn-order_history.form-control.btn.btn-default.btn-block.margin-top-5.margin-bottom-5(href='#{data.websiteUrl}/order_history',type="button")  ประวัติการสั่งซื้อ
													button#btn-logout_bar.form-control.btn.btn-danger.btn-block.margin-top-5.margin-bottom-5(type="button")  ออกจากระบบ

						else
							li(class=(data.screen == 'register' ? 'active' : ''))
								a(href='#{data.websiteUrl}') สมัครสมาชิก
						li#menu-cart(class=(data.screen == 'cart' ? 'active' : ''))							
							a(href='#{data.websiteUrl}/cart')
								i.fa.fa-shopping-cart.fa-lg
									&nbsp;
									span.badge
		
		.bg-white
			.container.block-content.padding-top-20(role="main")
				block content
		nav.navbar.navbar-inverse(style="border-radius:0; margin-bottom: 0px;")
			.container
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-nav-center
						li(class=(data.screen == 'news' ? 'active' : ''))
							a(href='#{data.websiteUrl}/news') ข่าวสาร

						li(class=(data.screen == 'category' ? 'dropdown active' : 'dropdown'))
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
								| ประเภทสินค้า 
								span.caret
							ul.dropdown-menu(role='menu')
								each values in data.category
									li(class=(data.screen == 'category' && data.categorySelected == values.Url ? 'active' : ''))
										a(href='#{data.websiteUrl}/category/'+values.Url)= values.Name
						li(class=(data.screen == 'about_us' ? 'active' : ''))
							a(href='#{data.websiteUrl}/how_to_order') ขั้นตอนการสั่งซื้อ
						li(class=(data.screen == 'about_us' ? 'active' : ''))
							a(href='#{data.websiteUrl}/about_us') เกี่ยวกับเรา
						li(class=(data.screen == 'contact' ? 'active' : ''))
							a(href='#{data.websiteUrl}/contact') ติดต่อสอบถาม
						li(class=(data.screen == 'register' ? 'active' : ''))
							a(href='#{data.websiteUrl}') สมัครสมาชิก

		.footer(style="border-radius:0")
			.container
				.col-xs-12.col-md-3
					table
						tr
							td
								img.img-responsive(src="#{data.websiteUrl}/images/line-powerdd.png", width="150")
						tr
							td(align="center")
								| Line ID  
								b @PowerDD

				.col-xs-12.col-md-5
					h3 สิทธิประโยชน์พิเศษเมื่อ Add Line
					ul
						li  รับสิทธิ์ร่วมกิจกรรมพิเศษของ PowerDD
						li  รับข่าวสาร และโปรโมชั่นพิเศษก่อนใคร
						li  รับข้อมูลเกี่ยวกับสินค้า กิจกรรม สิทธิพิเศษ และรายการส่งเสริมการขาย
				.col-xs-12.col-md-4
					h3 บริษัท พาวเวอร์ โบล์ท จำกัด
					| 900/31 อาคารเอสวีซิตี้ ชั้น 1 ห้อง F-13
					br
					| พระราม3 แขวงบางโพงพาง เขตยานนาวา
					br
					| จังหวัดนนทบุรี 10120
					br
					br
					| มือถือ: 098-9919-060
					br
					| แฟกซ์: +66 (0)2 295 3296
					br
					| อีเมล: service@powerdd.com 					
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')		
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js')
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
		script(src='#{data.websiteUrl}/javascripts/facebook.js')
		script(src='#{data.websiteUrl}/javascripts/common.js')
		script(src='#{data.websiteUrl}/javascripts/plugins/scrollToFixed/jquery-scrolltofixed-min.js')
		if (data.script != '')
			script(src='#{data.websiteUrl}#{data.script}')
		
			
		