extends layout

block content
	.pinBox.pinWell.padding-10
		.row
			.col-xs-12.col-sm-4.col-md-4.margin-bottom-15
				img#img_main.img-thumbnail.img_box_shadow(src= (#{data.productDetail.cover} != '') ? 'https://img.remaxthailand.co.th/500x500/product/#{data.productDetail.sku}/#{data.productDetail.cover}' : 'https://src.remaxthailand.co.th/img/product/default.jpg', alt='#{data.productDetail.name}', data-zoom-image="yyy")
				
				if typeof data.productDetail.image != 'undefined'
					.row
						each images in data.productDetail.image
							.col-xs-3.col-sm-3.col-md-3
								- var vImg= images.replace(' ','')
								- var vCover= data.productDetail.cover.replace(' ','')
								img.pointer.img-thumbnail(src='https://img.remaxthailand.co.th/100x100/product/#{data.productDetail.sku}/#{images.replace(' ','')}', alt='#{data.productDetail.name}', class='pointer img-thumbnail img_small_list' + ((vImg == vCover) ? " active" : " WTF") )